@mixin mips-print() {
    body {
        -webkit-print-color-adjust: exact;
        background: transparent !important;
    }

    #panel-print-area {
        size: auto;
    }

    .btn-legend {
        display: none;
    }

    .legend-body {
        background-color: transparent !important;
    }
}