@import "./mips-variables.scss";

@mixin mips-print() {
    body {
        -webkit-print-color-adjust: exact;
        background: $white !important;
    }

    #panel-print-area {
        size: auto;
    }

    .btn-legend {
        display: none;
    }

    .legend-body {
        background-color: $white !important;
    }

    ul {
        li {
            list-style-type: disc;
        }
    }

    ol {
        li {
            list-style-type: decimal;
        }
    }
}