@import './mips-variables.scss';

@mixin mips-web {
    body {
        font-family: 'Roboto', sans-serif;
    }


    %inline-header {
        display: inline;
    }
    
    %header-base {
        color: $headingColor;
        margin-bottom: 1rem;
        font-weight: 400;
    }

    h1 {
        font-weight: 700;
    }

    h4 {
        font-size: 1rem;
    }

    p {
        margin: 0 0 1rem 30px;
    }

    a {
        cursor: pointer;
    }

    .regulation {
        display: inline;
        font-style: italic;
    }
}

@for $i from 1 through 6 {
    h#{$i} {
        @at-root (without: media) {& { @extend %header-base}}
    }

    .inline-h#{$i} {
        @at-root (without: media) {& { @extend h#{$i}, %inline-header}}
    }
}
