@import "./mips-variables.scss";
@import "./mips-web.scss";

@mixin mips-print() {
    body {
        -webkit-print-color-adjust: exact;
        background: $white !important;
    }

    #panel-print-area {
        size: auto;
    }

    .btn-legend {
        display: none;
    }

    .legend-body {
        background-color: $white !important;
    }

    .mip-wrapper {
        @include mips-web;
    }
}